@import "tailwindcss";

@theme inline {
  --font-cinzel: var(--font-cinzel);
  --font-poppins: var(--font-poppins);

  --color-saffron: #F37420;
  --color-light-yellow: #F9BB4D;
  --color-lighter-yellow: #FAE6B8;
  --color-orange-saffron: #FAD199;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

.primary-heading{
  @apply sm:text-3xl md:text-5xl lg:text-6xl
}

.cinzel-heading {
  font-family: var(--font-cinzel), serif;
}

.secondary-heading{
  @apply sm:text-xl md:text-3xl lg:text-4xl
}

.tertiary-heading{
  @apply sm:text-lg md:text-2xl lg:text-3xl
}

.paragraph-text{
  @apply sm:text-sm md:text-base
}

.button-text{
  @apply sm:text-sm md:text-base
}
